.buttonwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;

    button {
        width: max-content;
        padding: 0.5rem 0.6rem;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        font-size: .9rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }

    span {
        font-size: 1.5rem;
        color: #fff;
    }

    .startoverBtn {
        border: none;
        text-decoration: underline;
        padding: 0;
    }

    .convertBtn {
        width: max-content;
        align-self: flex-end;
        margin-top: 1rem;
        padding: 0.5rem 1.6rem;
        background: #006fff;
        color: #000;
        border: none;
        border-radius: 4px;
        font-size: .9rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: #569bf4;
        }
    }

}